@import './variables';
@import url('~normalize.css');

:root {
  --mouse-x: 0.5;
  --mouse-y: 0.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

canvas {
  height: 100vh !important;
  width: 100vw !important;
}

.slogan-box {
  top: 25%;
  position: absolute;
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: bold;
  width: 100vw;
}